[submodule "EXTERNAL/g2o"]
	path = EXTERNAL/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "EXTERNAL/Pangolin"]
	path = EXTERNAL/Pangolin
	url = git://github.com/stevenlovegrove/Pangolin.git
[submodule "EXTERNAL/Sophus"]
	path = EXTERNAL/Sophus
	url = git://github.com/strasdat/Sophus.git
[submodule "EXTERNAL/VisionTools"]
	path = EXTERNAL/VisionTools
	url = git://github.com/strasdat/VisionTools.git
